[data-section-id="product-template-regular"] .product-gallery__carousel-wrapper {
    margin-bottom: 0;
}

[data-section-id="product-template-regular"] .page__sub-header {
    margin: 5px 0;
}

[data-section-id="product-template-regular"] .product-gallery__carousel-item {
    padding: 1px;
}

[data-section-id="product-template-regular"] .flickity-page-dots {
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 25px;
    display: none;
}

.flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin: 3px 2px;
}

.flickity-page-dots .dot.is-selected {
    width: 12px;
    height: 12px;
    background-color: #ff3c5f;
    transform: scale(1);
}

[data-section-id="product-template-regular"] .flickity-button {
    width: 60px;
    height: 60px;
    border-radius: 0;
    background-color: #ffffff;
}

[data-section-id="product-template-regular"] .flickity-prev-next-button.next {
    right: 0;
}

[data-section-id="product-template-regular"] .flickity-prev-next-button.previous {
    left: 0;
}

[data-section-id="product-template-regular"] .flickity-button-icon {
    width: 23px;
    height: 23px;
    fill: #000000;
}

[data-section-id="product-template-regular"] .flickity-button:hover .flickity-button-icon {
    fill: #ffffff;
}

[data-section-id="product-template-regular"] .flickity-button:hover {
    background-color: #ff3c5f;
}

@media (min-width: 641px) {
    [data-section-id="product-template-regular"] .product-gallery__carousel-item {
        width: 100%;
    }

    [data-section-id="product-template-regular"] .card__section--tight {
        padding: 0;
    }
    
    [data-section-id="product-template-regular"] .product-gallery__carousel-item--hidden {
        visibility: visible;
    }
    
    [data-section-id="product-template-regular"] .scroller {
        overflow: hidden;
        margin: 3px auto;
        outline: none;
        max-width: 75rem;
    }
    
    [data-section-id="product-template-regular"] .scroller__inner {
        padding-bottom: 3px;
        margin-bottom: -20px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        outline: none;
    }
    
    [data-section-id="product-template-regular"] .product-gallery__thumbnail-list {
        width: 100%;
        margin: 0;
        position: relative;
        max-height: 100%;
        overflow: unset;
    }
    
    [data-section-id="product-template-regular"] .product-gallery__thumbnail {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
    }

    [data-section-id="product-template-regular"] .product-gallery {
        background-color: #2c2c2c;
    }

    [data-section-id="product-template-regular"] .product-block-list__item--gallery {
        position: sticky;
        top: 90px;
    }
}

@media (min-width: 1000px) {
    [data-section-id="product-template-regular"] .product-gallery__carousel {
        margin: 0;
    }
}

@media (max-width: 640px) {
    [data-section-id="product-template-regular"] .scroller {
        display: none;
    }

    [data-section-id="product-template-regular"] .product-gallery__carousel {
        background-color: #2c2c2c;
    }
}

#infiniteoptions-container > div, [data-section-id="product-template-regular"] .product-form__info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#infiniteoptions-container > div:first-of-type {
    margin-top: 0;
}

.spb-label-tooltip, [data-section-id="product-template-regular"] .product-form__info-title {
    width: 40%;
}

.spb-label-tooltip label {
    padding-right: 12px;
    vertical-align: baseline;
    white-space: nowrap;
    color: var(--heading-color);
    font-weight: var(--text-font-bolder-weight);
}

.spb-label-tooltip + span, [data-section-id="product-template-regular"] .product-form__info-content {
    width: 60%;
}

.spb-select select {
    width: 100%;
    padding: 10px;
}

#shopify-section-product-template-regular .block-swatch {
    display: none;
}

.product-regular__field {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.product-regular__field label {
    width: 40%;
}

.product-regular__field select {
    width: 60%;
    padding: 10px;
    cursor: pointer;
}

.product-form__no-product {
    display: none;
}

.product-form__no-product.active {
    display: block;
    color: #ff3c5f;
}

[data-section-id="product-template-regular"] .scroller[data-media-count="1"] {
    display: none;
}