<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Siemens</h1>
    </div>
</section>

<!-- Start of Brand: Bosch -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Siemens Appliances</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Buy directly from Europe and enjoy savings of up to 30-40%!</p>
                            <p>We sell brand new Siemens appliances with fast air shipping directly from Europe. You get significantly lower prices and the newest models.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_400x.jpg?v=1636113587 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_500x.jpg?v=1636113587 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_600x.jpg?v=1636113587 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_700x.jpg?v=1636113587 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_800x.jpg?v=1636113587 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_900x.jpg?v=1636113587 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_1000x.jpg?v=1636113587 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_1100x.jpg?v=1636113587 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_1200x.jpg?v=1636113587 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_400x.jpg?v=1636113587 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_500x.jpg?v=1636113587 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_600x.jpg?v=1636113587 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_700x.jpg?v=1636113587 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_800x.jpg?v=1636113587 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_900x.jpg?v=1636113587 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_1000x.jpg?v=1636113587 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_1100x.jpg?v=1636113587 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page_1200x.jpg?v=1636113587 1200w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-landing-page.jpg?v=1638156694">
                        </noscript>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Bosch -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-oven-microwave_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-oven-microwave_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-oven-microwave_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-oven-microwave_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-oven-microwave_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Oven & Microwave</h3>
                    <p>You’ll be amazed at how intelligent home appliances can be and how modern electronics can help you cook and bake. Ovens take care of many cooking, baking and cleanup tasks automatically – almost better than we could do ourselves. They can even detect just how long your roast needs to cook for.,</p>
                    <a class="button button--primary" href="/collections/ovens/brand_siemens">See all ovens & microwaves</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-cooktop_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-cooktop_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-cooktop_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-cooktop_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-cooktop_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Hobs</h3>
                    <p>Be as flexible as your life is versatile. If you want to cook at the highest level, you need certain ingredients. The most important are a feeling for time, precision and flexibility. Siemens induction cooktops look particularly impressive in an open plan living space.,</p>
                    <a class="button button--primary" href="/collections/hobs/brand_siemens">See all hobs</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Range Hood</h3>
                    <p>With the distinctive Siemens design using glass and chrome lines, our ventilation systems create a design statement that seamlessly harmonizes with other Siemens appliances. Whether wall-mounted, hung over an island, integrated into a hob or hidden in the counter, our range of ventilation systems gives you creative freedom. All Siemens cooker hoods provide a powerful performance.,</p>
                    <a class="button button--primary" href="/collections/range-hoods/brand_siemens">See all range hoods</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-coffee-machine_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-coffee-machine_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-coffee-machine_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-coffee-machine_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-coffee-machine_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Coffee Machine</h3>
                    <p>Siemens fully automatic bean-to-cup coffee machines were developed for people who want to experience their perfect coffee moment every day. With the Siemens fully-automatic bean-to-cup coffee machines, every sip becomes a moment of pure enjoyment. Add to that the sleek and modern design and the innovative aroma technology, and the result is ultimate coffee perfection and precision.,</p>
                    <a class="button button--primary" href="/collections/coffee-machines/brand_siemens">See all coffee machines</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-dishwasher_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-dishwasher_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-dishwasher_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-dishwasher_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-dishwasher_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Dishwasher</h3>
                    <p>Siemens dishwashers feature modern design and innovative ideas that make life easier. Fall in love with maximum flexibility. Thanks to practical functions, such as height-adjustable side parts and foldable flip tines, everything finds its place – from the largest ladles the the smallest teaspoons. Whether you’re serving dinner to your family or hosting a party for friends, Siemens dishwashers ensure your dishes will be sparkling – in a flash.,</p>
                    <a class="button button--primary" href="/collections/dishwashers/brand_siemens">See all dishwasher</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-fridge-freezers_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-fridge-freezers_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-fridge-freezers_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-fridge-freezers_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-fridge-freezers_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Fridge & Freezers</h3>
                    <p>Siemens refrigerators and freezers are the best way to store food flexibly and properly. From Siemens’ smallest built-in refrigerator to the most impressive side-by-side models, all bring you more freshness and convenience. In 1930, Siemens created the first fridge using dry absorption. Ever since, Siemens have been combining tomorrow’s technologies with distinctive design. Siemens fridges and freezers are not only timelessly elegant but also take you to the future.,</p>
                    <a class="button button--primary" href="/collections/refrigerators/brand_siemens">See all fridges & freezers</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-wine-fridge_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-wine-fridge_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-wine-fridge_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-wine-fridge_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-wine-fridge_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Wine Cooler</h3>
                    <p>Connoisseurs know that wine has to be at the right temperature to develop its full flavour. Wine coolers and storage cabinets from Siemens keep it at the right temperature for maximum enjoyment.,</p>
                    <a class="button button--primary" href="/collections/wine-coolers/brand_siemens">See all wine coolers</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%">
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-washing-machines-dryer_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-washing-machines-dryer_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-washing-machines-dryer_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-washing-machines-dryer_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-washing-machines-dryer_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Siemens Washing Machines & Dryer</h3>
                    <p>Comfort, performance and energy-efficiency: Siemens washing machines always offer you state-of-the-art technology. Innovative functions not only provide optimal results, they also make your life easier. With their unique technical features, the innovative washing machines from Siemens are absolute pros when it comes to optimal, efficient laundry care.</p>
                    <a class="button button--primary" href="/collections/washing-machines/brand_siemens">See all washing machines</a>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}