<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Poliform</h1>
    </div>
</section>

<!-- Start of Brand: Poliform -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h2>Secure Imported Poliform Furniture for Up To 30-40% Off in Hong Kong and Singapore!</h2>
                        <div class="rte">
                            <h3 class="heading h3">BEST PRICE FOR POLIFORM FURNITURE IN HONG KONG, SINGAPORE & ASIA</h3>
                          <div style="margin: 20px 0;">
                            <b>How to obtain a quote for Poliform?</b>
                            <p>
                          Please let us know the model, and configurations (ie. size + material) you're interested in. Without this information, it's not possible to quote due to the vast possibility of variations. 
                            </p>
                            <p>
                            Quote requests may be sent in by <a href="https://wa.me/85259352062" target="_blank">Whatsapp</a> or email to <a href="mailto:info@eurohomedirect.com" target="_blank">info@eurohomedirect.com</a>.
                          </p>
                            <b>Still undecided? Plan with us:</b>
                            <p>Step 1
                            <br>
                              Arrange an online or offline appointment for us to understand your needs
                            </p>
                            <p>Step 2
                            <br>
                              We will propose suitable items, incorporating your design and style for order confirmation
                            </p>
                            <p>Step 3
                            <br>
                              We will process and dispatch your order from our European warehouses to your doorstep. Please note that order fulfilment takes about 3-5 months because most items are made to order
                            </p>
                          </div>
                          
                            <P>At EuroHomeDirect®, we see home renovation as arts, passion, and mission. Only the finest brands are selected by our team of experts to be listed on our website. Start building your dream home today to showcase your exquisite taste! We are more than happy to assist.</P>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/mod_2271_718_170536c2080_1920.jpg?v=1692776619"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Poliform -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_News2023_800x1040px.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_News2023_800x1040px.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_News2023_800x1040px.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">NEWS 2023</h3>
                    <p>The outdoor collection in preview and the latest indoor news.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2023/04/NEWS-2023_web.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Bristol_800x1040px.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Bristol_800x1040px.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Bristol_800x1040px.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">BRISTOL</h3>
                    <p>The monograph dedicated to the Bristol sofa, by Jean-Marie Massaud.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2021/09/Poliform_Bristol_sofa_2021-4.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Alea_Pro_800x1040px.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Alea_Pro_800x1040px.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Alea_Pro_800x1040px.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">ALEA PRO</h3>
                    <p>Focus on the new Alea Pro kitchen.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2021/04/Poliform_Alea_Pro-1.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Lexington_2021_800x1040px.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Lexington_2021_800x1040px.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Lexington_2021_800x1040px.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">LEXINGTON SYSTEM</h3>
                    <p>An in-depth look at the Lexington system.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2022/02/Poliform_Lexington_2022.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Code_800x1040px.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Code_800x1040px.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Code_800x1040px.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">CODE SYSTEM</h3>
                    <p>An in-depth look at the day system.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2021/04/Poliform_Code_system-1.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Brera_800x1040px.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Brera_800x1040px.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Brera_800x1040px.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">BRERA</h3>
                    <p>The catalog dedicated to the Brera sofa system.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2023/04/BRERA-MONO-2023_web.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Saint-Germain_2021_800x1040px-7.jpg?v=1692777328" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Saint-Germain_2021_800x1040px-7.jpg?v=1692777328">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Saint-Germain_2021_800x1040px-7.jpg?v=1692777328">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">SAINT-GERMAIN</h3>
                    <p>The monograph on the sofa system by Jean-Marie Massaud.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2021/09/Poliform_Saint-Germain_Sofa_2021.pdf">Download</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Magazine_2021_800x1040px.jpg?v=1692777329" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Magazine_2021_800x1040px.jpg?v=1692777329">
                        <noscript>
                            <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Poliform_Magazine_2021_800x1040px.jpg?v=1692777329">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">STYLEBOOK</h3>
                    <p>Style becomes lifestyle in the most recent picture story by Poliform.</p>
                    <a class="button button--primary" href="https://www.poliform.it/assets/2021/08/Poliform_Stylebook_2021.pdf">Download</a>
                </div>

            </div>
                  
        </div>
    </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

<div class="shopify-section">
<section class="card__section card__section--tight">
  <div class="container container--flush">
    <h2>Note:</h2>
    <p>The information, materials, and content provided on this platform are for informational purposes only and is used under fair use. All copyrighted content belongs to Poliform and we do not claim ownership of any third-party copyrighted material.</p>
    </div>
</section>
</div>