<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Liebherr</h1>
    </div>
</section>

<!-- Start of Brand: Liebherr -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Liebherr Appliances</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Buy directly from Europe and enjoy savings of up to 30-40%!</p>
                            <p>We sell brand new Liebherr appliances with fast air shipping directly from Europe. You get significantly lower prices and the newest models.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-main.jpg?v=1640683825"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Liebherr -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-built-in.jpg?v=1640683826 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-built-in.jpg?v=1640683826 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-built-in.jpg?v=1640683826 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-built-in.jpg?v=1640683826  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-built-in.jpg?v=1640683826"></noscript>
                    </div>
                    <h3 class="collection__title text--strong"><center>Liebherr Freezers</center></h3>
                    <center><a class="button button--primary" href="/collections/freezers/liebherr">See All Liebherr Freezers</a></center>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing.jpg?v=1640683825 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing.jpg?v=1640683825 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing.jpg?v=1640683825 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing.jpg?v=1640683825  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing.jpg?v=1640683825"></noscript>
                    </div>
                    <h3 class="collection__title text--strong"><center>Liebherr Refrigerators</center></h3>
                    <center><a class="button button--primary" href="/collections/refrigerators/liebherr">See All Liebherr Refrigerators</a></center>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing-wine.jpg?v=1640683826 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing-wine.jpg?v=1640683826 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing-wine.jpg?v=1640683826 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing-wine.jpg?v=1640683826  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-free-standing-wine.jpg?v=1640683826"></noscript>
                    </div>
                    <h3 class="collection__title text--strong"><center>Liebherr Wine Coolers</center></h3>
                    <center><a class="button button--primary" href="/collections/wine-coolers/liebherr">See All Liebherr Wine Coolers</a></center>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Liebherr_Cigar_Storage_400px.jpg?v=1698377170" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Liebherr_Cigar_Storage_400px.jpg?v=1698377170"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Liebherr_Cigar_Storage_400px.jpg?v=1698377170"></noscript>
                    </div>
                    <h3 class="collection__title text--strong"><center>Liebherr Cigar Storage</center></h3>
                    <center><a class="button button--primary" href="/products/liebherr-zkes-453">See All Liebherr Cigar Storage</a></center>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}