<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">V-ZUG</h1>
    </div>
</section>

<!-- Start of Brand: Liebherr -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported V-ZUG Appliances</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Buy directly from Europe and enjoy savings of up to 30-40%!</p>
                            <p>We sell brand new V-ZUG appliances with fast air shipping directly from Europe. You get significantly lower prices and the newest models.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Vzug-lp-1.png?v=1651720136"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Liebherr -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-oven.png?v=1651720269" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-oven.png?v=1651720269"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-oven.png?v=1651720269"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Ovens</h3>
                  <p>Starting From HK$ 16,210/SG$ 2,880</p>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-hobs.png?v=1651720560" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-hobs.png?v=1651720560"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-hobs.png?v=1651720560"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Hobs</h3>
                  <p>Starting From HK$ 13,910/SG$ 2,470</p>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-steamer.png?v=1651720725" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-steamer.png?v=1651720725"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-steamer.png?v=1651720725"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Steamers</h3>
                  <p>Starting From HK$ 20,985/SG$ 3,725</p>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-rangehood.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-rangehood.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-rangehood.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Range Hoods</h3>
                  <p>Starting From HK$ 12,705/SG$ 2,255</p>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-fridge.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-fridge.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-fridge.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Refrigerators</h3>
                  <p>Starting From HK$ 12,615/SG$ 2,240</p>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-drawer.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-drawer.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-drawer.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Drawers</h3>
                  <p>Starting From HK$ 9,770/SG$ 1,735</p>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-dishwasher.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-dishwasher.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-dishwasher.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Dishwashers</h3>
                  <p>Starting From HK$ 15,660/SG$ 2,780</p>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-coffee.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-coffee.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-coffee.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Coffee-Center</h3>
                  <p>Starting From HK$ 27,080/SG$ 4,810</p>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="vzugbutton container">
          <a class="button button--primary" href="/pages/contact">Contact us to enquire</a>
      </div>
  </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}