<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Miele</h1>
    </div>
</section>

<!-- Start of Brand: Miele -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Miele Appliances up to 30-40% off directly from Europe</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Buy directly from Europe and enjoy savings of up to 30-40%!</p>
                            <p>We sell brand new Miele appliances with fast air shipping directly from Europe. You get significantly lower prices and the newest models.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Miele -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Oven</h3>
                    <p>Miele built-in oven has the Wireless food probe feature – A countdown indicator tells you exactly when the meat, fish or poultry will be ready. For extraordinary food preparation methods: Miele offers a variety of special programmes such as drying fruit. Conjuring up over 100 dishes with ease: whether it is bread, cakes or meat – everything is cooked automatically.</p>
                    <a class="button button--primary" href="/collections/ovens/miele">See All Miele Oven</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Cooktop</h3>
                    <p>Miele’s induction hobs are versatile and flexible. Large cookware can also be heated quickly and easily. It offers Safety switch-off and Overheating protection and fault monitoring. If a zone has been operating on the same power level for an unusually long time or in the case of extreme heat, it switches off automatically.</p>
                    <a class="button button--primary" href="/collections/hobs/miele">See All Miele Cooktop</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Warming Drawer</h3>
                    <p>Miele Warming Drawer could warms cups and plates, keeps food warm or cooks at low temperatures. All built-in food warming drawers feature a 4-hour timer which switches off automatically. The warming drawer also provide touch controls, programme selection is via a flush touch panel which is easy to clean.</p>
                    <a class="button button--primary" href="/collections/warming-drawers/miele">See All Miele Warming Drawer</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Cooker Hood</h3>
                    <p>Achieving optimum extraction of kitchen vapours and odours – while also saving energy: Miele Cooker Hoods were featured with Con@ctivity 2.0 gathers information from the hob and transmits it to the controls in the cooker hood to automatically select the correct fan setting to ensure the optimum room microclimate at all times.</p>
                    <a class="button button--primary" href="/collections/range-hoods/miele">See All Miele Cooker Hood</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Dishwasher</h3>
                    <p>Equipped with QuickPowerWash, excellent cleaning and drying results for normally soiled crockery can be attained in just 58 minutes. Miele dishwasher is also highly economical and efficient.With Miele’s state-of-art Knock2open technology, the appliance can integrate perfectly into handleless kitchens; the door opens automatically when tapped.</p>
                    <a class="button button--primary" href="/collections/dishwashers/miele">See All Miele Dishwasher</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Coffee Machine</h3>
                    <p>Miele’s AromaticSystem technology in the brew chamber mixes coffee and water perfectly.Miele’s coffee machines also integrated with CupSensor, which recognises the cup rim and alters the position of the central spout accordingly so you’ll never spill your favourite coffee. After making special coffee with milk, the milk pipework is cleaned automatically.</p>
                    <a class="button button--primary" href="/collections/coffee-machines/miele">See All Miele Coffee Machine</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Fridge & Freezer</h3>
                    <p>Fresh for up to 3x longer: Miele’s fridge is the perfect storage temperature for fruit, vegetables, fish, meat and dairy products. With MasterCool – MasterFresh, any food can be stored in ideal micro-climates in the moisture-regulated drawers. Miele's dynamic cooling system create uniform distribution of temperature: a ventilator ensures excellent circulation and distribution of cold air.</p>
                    <a class="button button--primary" href="/collections/refrigerators/miele">See All Miele Fridge & Freezer</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Miele Wine Fridge</h3>
                    <p>Miele wine units are fitted with up to three temperature zones which can be controlled separately. Up to three different types of wine such as red wine, white wine, champagne or sparkling wine, can be stored at the same time and under perfect conditions. Also with detachable individual slats, large wine bottles are easy to store.</p>
                    <a class="button button--primary" href="/collections/wine-coolers/miele">See All Miele Wine Fridge</a>
                </div>


              <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w,//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463  400w"><noscript><img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></noscript>
                    </div>
                    <h3 class="collection__title text--strong"><center>Miele Freezers</center></h3>
                    <center><a class="button button--primary" href="/collections/wine-coolers/miele">See All Miele Freezers</a></center>
                </div>
              
              
            </div>
        </div>
    </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}