<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Smeg</h1>
    </div>
</section>

<!-- Start of Brand: Liebherr -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Smeg Appliances</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Imported SMEG Appliances Up To 30-40% Off Directly From Europe!</p>
                            <p>At EuroHomeDirect®, we see home renovation as arts, passion, and mission. Smeg home appliances communicates with its surroundings and enables users to interact with it. Start building your dream home today to showcase your exquisite taste! We are more than happy to assist.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg-oven.jpg?v=1670922093"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Liebherr -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Ovens</h3>
                  <p>Designed and produced in Italy, Smeg ovens are excellent cooking appliances with exclusive design that always offer peak performance.
Smeg built-in compact ovens offers you maximum flexibility with different cooking levels, allowing you to cook different dishes at the same time. Plus they have easy-to-clean enamel interior, eco-friendly vapor cleaning function and closed door grilling, aiming to redefine your cooking experience to a whole new level.
</p>
                  <a class="button button--primary" href="/collections/ovens/smeg">See All Smeg Ovens</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Built-In Combi Microwave Oven</h3>
                  <p>Smeg microwave ovens are available in a number of different designs to maintain the aesthetic principles of the product range.
Microwave cooking dramatically reduces cooking times and can offer notable energy savings. Results show that Smeg new generation ovens saving up to 70% time compared to traditional cooking only.
</p>
                  <a class="button button--primary" href="/collections/combi_microwave_oven/smeg">See all SMEG Microwave Ovens</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Induction Hob</h3>
                  <p>Smeg hobs combine quality materials with cutting-edge technology. It offers powerful and multizone operation. It can be used as two independent cooking zones or combined into a single zone. Each zone automatically adapts to the size and position of the dishes and is heated only where the pans locate, providing better heat distribution. They are a great way to shortening cooking times, accurately controlling temperatures and cutting down energy consumption.</p>
                  <a class="button button--primary" href="/collections/hobs/smeg">See all SMEG Induction Hob</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Cookers</h3>
                  <p>Your passion for cooking deserves an outstanding cooker, with a harmonious blend of practicality and style. Smeg offers cookers with induction hob tops allowing precise temperature control, user-friendliness and minimal consumption.</p>
                  <a class="button button--primary" href="/collections/cookers/smeg">See all SMEG Cookers</a>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Wall-Mounted Hood </h3>
                  <p>Remove bad odours and steam from your kitchen with Smeg reliable cooker hood. A wide range of models are available, which vary according to aesthetics, extraction method and motor capacity/power output to suit all kitchen types.</p>
                  <a class="button button--primary" href="/collections/range-hoods/smeg">See all SMEG Hood</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Fridge</h3>
                  <p>Smeg has developed different fridge models in order to keep your food and drink perfectly fresh. Smeg's Active Ion system neutralises bacteria and other impurities responsible for unpleasant food odour keeping your fridge in top condition.

While LifePlus 0°C drawer with a controlled temperature zone (-2°C +3°C) is designed for a better and longer preservation of fish, cheese and meat, you can organize fresh goods across the glass shelves, allowing you to always have ingredients to hand in the finest style.
</p>
                  <a class="button button--primary" href="/collections/refrigerators/smeg">See all SMEG Fridge</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Dishwashers</h3>
                  <p>Smeg free-standing or built-in dishwashers are the perfect way to complete your kitchen in style. Our device, which consists of a circular support and a double high-speed simultaneous-movement spray arm, means that the water reaches every point of the chamber, ensuring excellent washing results and low water consumption.
It is also equipped with an automatic self clean program which is designed for cleaning and maintenance of the machine.
</p>
                  <a class="button button--primary" href="/collections/dishwashers/smeg">See all SMEG Dishwasher</a>
                    </div>

                

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="vzugbutton container">
          <a class="button button--primary" href="/pages/contact">Contact us to enquire</a>
      </div>
  </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}