<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Sanitary Wares</h1>
    </div>
</section>

<!-- Start of Brand: Alape -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/alape_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/alape.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>Alape has been synonymous with quality solutions in the sanitary area since 1896. Such classics as the sink basin, the world’s first built-in basin and the first bathroom cabinet-washable combination were invented by this tradition-steeped company. In this way, Alape also had a decisive influence on the development of the bathroom.</p>
                        <a class="button button--primary" href="/collections/alape">See All Alape Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Alape -->

<!-- Start of Brand: AXOR -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_300x.jpg?v=1639370238 300w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_400x.jpg?v=1639370238 400w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_500x.jpg?v=1639370238 500w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_600x.jpg?v=1639370238 600w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_700x.jpg?v=1639370238 700w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_800x.jpg?v=1639370238 800w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_900x.jpg?v=1639370238 900w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_1000x.jpg?v=1639370238 1000w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_1100x.jpg?v=1639370238 1100w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_300x.jpg?v=1639370238 300w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_400x.jpg?v=1639370238 400w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_500x.jpg?v=1639370238 500w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_600x.jpg?v=1639370238 600w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_700x.jpg?v=1639370238 700w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_800x.jpg?v=1639370238 800w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_900x.jpg?v=1639370238 900w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_1000x.jpg?v=1639370238 1000w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_1100x.jpg?v=1639370238 1100w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/axor.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>AXOR is a brand associated with luxury in bathrooms and kitchens. Avantgarde, one-of-a-kind products and collections are created to the highest aesthetic and technological standards. They all live up to the aspiration “Form Follows Perfection”. The development process continues until nothing more can be added or removed.</p>
                        <a class="button button--primary" href="/collections/axor">See All AXOR Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: AXOR -->

<!-- Start of Brand: BLANCO -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/blanco.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>For three generations BLANCO has quietly and passionately elevated the standards for luxury sinks, faucets and decorative accessories. A family-owned company, BLANCO was founded over 85 years ago in Germany, and recently celebrated a milestone of 25 years in the United States.</p>
                        <a class="button button--primary" href="/collections/blanco">See All BLANCO Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: BLANCO -->

<!-- Start of Brand: Dornbracht -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/dornbracht.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>Dornbracht represents the very highest quality of manufacture, progressive production and innovative design. The premium fittings of this family company have won numerous international awards, acting as a driving force for the developments and trends of an entire industry.</p>
                        <a class="button button--primary" href="/collections/dornbracht">See All Dornbracht Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Dornbracht -->

<!-- Start of Brand: Dornbracht -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/duravit.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>Duravit brings you a taste of the amazing award winning bathroom design. Since the start of the creative journey, Duravit has always been rooted in a ‘tradition of innovation’ and continues to demonstrate its eagerness to charter new territory with its innovative technology, extraordinary design and the development of new products.</p>
                        <a class="button button--primary" href="/collections/duravit">See All Duravit Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Dornbracht -->

<!-- Start of Brand: Emco -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/emco_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/emco.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>Emco Bath is a manufacturer of high-quality and exclusive bathroom equipment and accessories in the premium segment, with a focus on functionality and exclusive design. The product range includes accessories, mirrored cabinets, functional modules, illuminated and cosmetic mirrors, as well as washstands and wash unit solutions.</p>
                        <a class="button button--primary" href="/collections/emco">See All Emco Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Emco -->

<!-- Start of Brand: Gessi -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/gessi.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>Gessi has been designing and manufacturing exclusive bathroom and kitchen fittings and furnishings for over 20 years. Today, the Gessi brand is acknowledged worldwide for its fashionable bathroom designs in all types of living environments, including hotels, spas, yachts and private residences.</p>
                        <a class="button button--primary" href="/collections/gessi">See All Gessi Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Gessi -->

<!-- Start of Brand: GROHE -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/grohe.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>GROHE is the world’s leading single-brand manufacturer and supplier of sanitary fittings. GROHE is the world’s leading provider of sanitary fittings and a global brand, dedicated to providing innovative water products.</p>
                        <a class="button button--primary" href="/collections/grohe">See All GROHE Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: GROHE -->

<!-- Start of Brand: Hansgrohe -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/hansgrohe.png?v=1639372942">
                    </div>
                    <div class="rte">
                        <p>Our top brands Hansgrohe and AXOR represent innovative, premium-quality products, modern, design-oriented bathroom solutions and environmentally-friendly, resource-saving sanitation technologies. Hansgrohe stands for: technical brilliance, a broad range of products and extraordinary design. The brand impresses on both a functional and an emotional level.</p>
                        <a class="button button--primary" href="/collections/hansgrohe">See All Hansgrohe Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Hansgrohe -->

<!-- Start of Brand: LAUFEN -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/laufen.png?v=1639372942">
                    </div>
                    <div class="rte">
                        <p>The personality of this highly traditional Swiss brand reflects a symbiosis of design, quality and functionality. LAUFEN, the premium brand under the ROCA umbrella, is one of the world’s leading manufacturers with a global distribution network. The company’s core competence is its knowledge in the area of sanitary ware manufacturing.</p>
                        <a class="button button--primary" href="/collections/laufen">See All LAUFEN Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: LAUFEN -->

<!-- Start of Brand: Villeroy & Boch -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_1200x.jpg?v=1639370238 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_300x.jpg?v=1639370238 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_400x.jpg?v=1639370238 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_500x.jpg?v=1639370238 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_600x.jpg?v=1639370238 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_700x.jpg?v=1639370238 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_800x.jpg?v=1639370238 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_900x.jpg?v=1639370238 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_1000x.jpg?v=1639370238 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_1100x.jpg?v=1639370238 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_1200x.jpg?v=1639370238 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-and-boch_800x.jpg?v=1639370238">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/villeroy-boch.png?v=1639371362">
                    </div>
                    <div class="rte">
                        <p>Since its foundation in 1748, the ceramic producer has developed into an international lifestyle brand. Like very few other premium brands, Villeroy & Boch is deeply rooted in European culture. And, in the way that only a great brand can do, it has understood how to preserve its identity while still moving with the times.</p>
                        <a class="button button--primary" href="/collections/villeroy-boch">See All Villeroy & Boch Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Villeroy & Boch -->

<!-- Start of Brand: Kohler -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_300x.jpg?v=1637048219 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_400x.jpg?v=1637048219 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_600x.jpg?v=1637048219 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_700x.jpg?v=1637048219 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_300x.jpg?v=1636113456 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_400x.jpg?v=1636113456 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_700x.jpg?v=1636113456 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler-Featured-Image.png?v=1721819345">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/Kohler_Logo.png?v=1721819243">
                    </div>
                    <div class="rte">
                        <p>Kohler Co. has been elevating the standard of gracious living since 1873 by offering top-notch bathroom fittings and services for their customers’ residences and way of life. They believe that bettering the world and business go hand in hand. Through design, craftsmanship, and innovation, Kohler hopes to improve the quality of life for present and future generations.</p>
                      <a class="button button--primary" href="/collections/kohler">See
                                                                                    All Kohler Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Kohler -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}