<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">V-ZUG</h1>
    </div>
</section>

<!-- Start of Brand: Liebherr -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported V-ZUG Appliances</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Buy directly from Europe and enjoy savings of up to 30-40%!</p>
                            <p>We sell brand new V-ZUG appliances with fast air shipping directly from Europe. You get significantly lower prices and the newest models.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Vzug-lp-1.png?v=1651720136"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Liebherr -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-oven.png?v=1651720269" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-oven.png?v=1651720269"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-oven.png?v=1651720269"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Ovens</h3>
                  <p>Starting From HK$ 23,078/SG$ 4,050</p>
                  <a class="button button--primary" href="/collections/ovens/v-zug">See All V-ZUG Ovens</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-hobs.png?v=1651720560" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-hobs.png?v=1651720560"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-hobs.png?v=1651720560"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Hobs</h3>
                  <p>Starting From HK$ 26,475/SG$ 4,644</p>
                  <a class="button button--primary" href="/collections/hobs/v-zug">See All V-ZUG Hobs</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-steamer.png?v=1651720725" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-steamer.png?v=1651720725"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-steamer.png?v=1651720725"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Steamers</h3>
                  <p>Starting From HK$ 29,873/SG$ 5,241</p>
                  <a class="button button--primary" href="/collections/steamers/v-zug">See All V-ZUG Steamers</a>
                    </div>

                

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-coffee.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-coffee.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-coffee.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Coffee-Center</h3>
                  <p>Starting From HK$ 38,550/SG$ 6,768</p>
                  <a class="button button--primary" href="/collections/coffee-machines/v-zug">See All V-ZUG Coffee Machines</a>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-fridge.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-fridge.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-fridge.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Refrigerators</h3>
                  <p>Starting From HK$ 17,955/SG$ 3,152</p>
                  <a class="button button--primary" href="/collections/refrigerators/v-zug">See All V-ZUG refrigerators</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-drawer.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-drawer.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-drawer.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Drawers</h3>
                  <p>Starting From HK$ 13,904/SG$ 2,441</p>
                  <a class="button button--primary" href="/collections/warming-drawers/v-zug">See All V-ZUG drawers</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-dishwasher.png?v=1651720962" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-dishwasher.png?v=1651720962"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/vzug-lp-dishwasher.png?v=1651720962"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">V-ZUG Dishwashers</h3>
                  <p>Starting From HK$ 22,294/SG$ 3,912</p>
                  <a class="button button--primary" href="/collections/dishwashers/v-zug">See All V-ZUG Dishwashers</a>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="vzugbutton container">
          <a class="button button--primary" href="/pages/contact">Contact us to enquire</a>
      </div>
  </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}