<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Miele</h1>
    </div>
</section>

<!-- Start of Brand: Miele -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Miele Appliances up to 30-40% off directly from Europe</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Buy directly from Europe and enjoy savings of up to 30-40%!</p>
                            <p>We sell brand new Miele appliances with fast air shipping directly from Europe. You get significantly lower prices and the newest models.</p>
                            <h3 style="margin-top: 0px !important;">See latest <a href="https://media.miele.com/ex/gb/22-1557_VitroLine_Gen7000_Kurz_GB_neu.pdf" target="_blank">Miele Appliances catalog</a>.</h3>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo_61f5e25c-7181-44c3-b2ee-ea743322dfc1.png?v=1640684463"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Miele -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/ovens-and-built-in-cookers-1022125-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Ovens</h3>
                    <p>The Miele built-in oven includes the Wireless food probe feature, which provides a countdown indicator to inform you precisely when your meat, fish, or poultry will be cooked to perfection. For exceptional cooking techniques, Miele offers a range of special programs, including fruit drying. With the ability to effortlessly prepare over 100 dishes, from bread and cakes to meat, everything is cooked automatically.<br></br>See all Miele Ovens on <a href="https://www.miele.co.uk/e/ovens-and-built-in-cookers-1022125-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/ovens/miele">See All Miele Oven</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/induction-hobs-1013779-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Cooktops</h3>
                    <p>Miele's induction hobs offer versatility and flexibility. They can quickly and easily heat large cookware. Additionally, they come with safety features such as a switch-off function, overheating protection, and fault monitoring. If a zone has been operating at the same power level for an unusually extended period or if extreme heat is detected, the hob will automatically switch off.<br></br>See all Miele Cooktops on <a href="https://www.miele.co.uk/e/induction-hobs-1013779-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/hobs/miele">See All Miele Cooktop</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/warming-and-vacuum-sealing-drawers-1022127-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Warming Drawers</h3>
                    <p>The Miele Warming Drawer has the ability to warm cups and plates, keep food warm, and cook at low temperatures. All built-in food warming drawers come equipped with a 4-hour timer that automatically switches off. The warming drawer also offers touch controls, with program selection made through a flush touch panel that is easy to clean.<br></br> See all Miele Warming Drawers on <a href="https://www.miele.co.uk/e/warming-and-vacuum-sealing-drawers-1022127-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/warming-drawers/miele">See All Miele Warming Drawer</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/cooker-hoods-1014080-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Cooker Hoods</h3>
                    <p>Miele Cooker Hoods are designed to efficiently extract kitchen vapors and odors while conserving energy. With the Con@ctivity 2.0 feature, these cooker hoods gather information from the hob and transmit it to the controls in the hood. This enables automatic selection of the appropriate fan setting, ensuring an optimal room microclimate at all times.<br></br>See all Miele Cooker Hoods on <a href="https://www.miele.co.uk/e/cooker-hoods-1014080-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/range-hoods/miele">See All Miele Cooker Hood</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/dishwashers-1015063-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Dishwasher</h3>
                    <p>With QuickPowerWash, the Miele dishwasher achieves exceptional cleaning and drying results for lightly soiled dishes in a mere 58 minutes. It is not only highly efficient but also economical. Thanks to Miele's innovative Knock2open technology, this dishwasher seamlessly integrates into handleless kitchens, automatically opening the door with a gentle tap.<br></br>See all Miele Dishwashers on <a href="https://www.miele.co.uk/e/dishwashers-1015063-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/dishwashers/miele">See All Miele Dishwasher</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/coffee-machines-1014553-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Coffee Machines</h3>
                    <p>Miele's brew chamber, equipped with AromaticSystem technology, flawlessly blends coffee and water. Additionally, Miele's coffee machines feature the CupSensor, which detects the cup rim and adjusts the position of the central spout, preventing any spills. Moreover, after preparing coffee with milk, the milk pipework is automatically cleaned.<br></br>See all Miele Coffee Machines on <a href="https://www.miele.co.uk/e/coffee-machines-1014553-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/coffee-machines/miele">See All Miele Coffee Machine</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/refrigeration-appliances-1022129-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Fridges</h3>
                    <p>Miele's fridge ensures freshness for an extended period: it maintains the perfect storage temperature for various food items such as fruit, vegetables, fish, meat, and dairy products. With MasterCool - MasterFresh technology, you can store any food in moisture-regulated drawers, creating ideal micro-climates. The dynamic cooling system of Miele's fridge ensures uniform temperature distribution, thanks to a ventilator that enables excellent circulation of cold air.<br></br>See all Miele Fridges on <a href="https://www.miele.co.uk/e/refrigeration-appliances-1022129-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/refrigerators/miele">See All Miele Fridge</a>
                </div>
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/wine-units-1014602-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Wine Fridge</h3>
                    <p>Miele wine units are equipped with multiple temperature zones that allow for independent control. This enables the storage of up to three different types of wine, such as red wine, white wine, champagne, or sparkling wine, all under optimal conditions. Additionally, the units are designed with removable slats, making it convenient to store larger wine bottles.<br></br>See all Miele Wine Fridges on <a href="https://www.miele.co.uk/e/wine-units-1014602-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/wine-coolers/miele">See All Miele Wine Fridge</a>
                </div>


              <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div><a href="https://www.miele.co.uk/e/built-in-freezers-1014940-c" target="_blank"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Miele-landing-page-image.jpg?v=1701843106"></noscript></a>
                    </div>
                    <h3 class="collection__title text--strong">Miele Freezers</h3>
                    <p>Freezing is an excellent method for preserving food for an extended period. With utmost safety and convenience, Miele freezers enable secure and effortless food freezing. These appliances can be seamlessly integrated into your kitchen design by adding a personalized furniture panel.<br></br>See all Miele Freezers on <a href="https://www.miele.co.uk/e/built-in-freezers-1014940-c" target="_blank"><u>Official Website</u></a>.</p>
                    <a class="button button--primary" href="/collections/freezers/miele">See All Miele Freezers</a>
                
                </div>
              
              
            </div>
        </div>
    </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}