<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Appliances</h1>
    </div>
</section>

<!-- Start of Brand: Bosch -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_300x.jpg?v=1637048219 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_400x.jpg?v=1637048219 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_500x.jpg?v=1637048219 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_600x.jpg?v=1637048219 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_700x.jpg?v=1637048219 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_300x.jpg?v=1636113456 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_400x.jpg?v=1636113456 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_500x.jpg?v=1636113456 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_600x.jpg?v=1636113456 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_700x.jpg?v=1636113456 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch_appliances_800x.jpg?v=1636113456">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-logo.png?v=1637048909">
                    </div>
                    <div class="rte">
                        <p>At Bosch Home Appliances, a legacy of quality and excellent service meets innovations
                                                                                    invented for life. Our appliances make every day easier: through perceivable quality,
                                                                                    surprisingly simple solutions and modern, authentic design for any type of project. “We
                                                                                    define our own rules at Bosch.</p>
                        <a class="button button--primary" href="/collections/bosch">See All Bosch Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Bosch -->

<!-- Start of Brand: Siemens -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_300x.jpg?v=1637048219 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_400x.jpg?v=1637048219 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_500x.jpg?v=1637048219 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_600x.jpg?v=1637048219 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_700x.jpg?v=1637048219 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_300x.jpg?v=1636113456 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_400x.jpg?v=1636113456 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_500x.jpg?v=1636113456 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_600x.jpg?v=1636113456 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_700x.jpg?v=1636113456 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens_appliances.jpg?v=1637049618s_800x.jpg?v=1636113456">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/siemens-logo.png?v=1637049618">
                    </div>
                    <div class="rte">
                        <p>Siemens Home Appliances – The brand for exciting new opportunities. With excellent technology
                                                                                    and outstanding innovations Siemens provides answers to the social, economic and
                                                                                    environmental challenges of the 21st century.</p>
                        <a class="button button--primary" href="/collections/Siemens">See
                                                                                    All Siemens Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Siemens -->

<!-- Start of Brand: Gaggenau -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_300x.jpg?v=1637048219 300w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_400x.jpg?v=1637048219 400w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_500x.jpg?v=1637048219 500w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_600x.jpg?v=1637048219 600w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_700x.jpg?v=1637048219 700w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_800x.jpg?v=1636113456 800w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_900x.jpg?v=1636113456 900w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_1000x.jpg?v=1636113456 1000w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_1100x.jpg?v=1636113456 1100w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_300x.jpg?v=1636113456 300w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_400x.jpg?v=1636113456 400w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_500x.jpg?v=1636113456 500w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_600x.jpg?v=1636113456 600w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_700x.jpg?v=1636113456 700w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_800x.jpg?v=1636113456 800w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_900x.jpg?v=1636113456 900w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_1000x.jpg?v=1636113456 1000w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_1100x.jpg?v=1636113456 1100w, https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau_appliances_800x.jpg?v=1636113456">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/gaggenau-logo.png?v=1637050993">
                    </div>
                    <div class="rte">
                        <p>In 1683, from the depths of the Black Forest, new sounds are heard; the roar of flames, the
                                                                                    hammering of molten metal. The age of the industrial craftsmanship arrives with the strike
                                                                                    of a hammer and German engineering is born.</p>
                        <a class="button button--primary" href="/collections/Gaggenau">See All
                                                                                    Gaggenau Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Gaggenau -->

<!-- Start of Brand: Liebherr -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_300x.jpg?v=1637048219 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_400x.jpg?v=1637048219 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_500x.jpg?v=1637048219 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_600x.jpg?v=1637048219 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_700x.jpg?v=1637048219 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_300x.jpg?v=1636113456 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_400x.jpg?v=1636113456 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_500x.jpg?v=1636113456 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_600x.jpg?v=1636113456 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_700x.jpg?v=1636113456 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr_appliances_800x.jpg?v=1636113456">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/liebherr-logo.png?v=1637050993">
                    </div>
                    <div class="rte">
                        <p>Liebherr’s program of domestic appliances is noted for its innovative ideas, modern design
                                                                                    and well thought-out solutions for optimum user convenience. It includes table-top,
                                                                                    free-standing and built-in refrigerators and freezers, combined refrigerators and freezers,
                                                                                    food storage and drink cooling refrigerators, wine cooling and wine-temperature control
                                                                                    cabinets, and humidors.</p>
                        <a class="button button--primary" href="/collections/Liebherr">See All
                                                                                    Liebherr Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Liebherr -->

<!-- Start of Brand: Miele -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_300x.jpg?v=1637048219 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_400x.jpg?v=1637048219 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_500x.jpg?v=1637048219 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_600x.jpg?v=1637048219 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_700x.jpg?v=1637048219 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_300x.jpg?v=1636113456 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_400x.jpg?v=1636113456 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_500x.jpg?v=1636113456 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_600x.jpg?v=1636113456 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_700x.jpg?v=1636113456 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele_appliances_800x.jpg?v=1636113456">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/miele-logo.png?v=1637050993">
                    </div>
                    <div class="rte">
                        <p>Since the company was founded in 1899, Miele has a proven statement of technological
                                                                                    advancement and reliability on their appliances. Miele is one of a few manufacturers in the
                                                                                    industry to test products such as ovens, dishwashers and hobs to the equivalent usage of 15
                                                                                    years.</p>
                        <a class="button button--primary" href="/collections/Miele">See
                                                                                    All Miele Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: Miele -->

<!-- Start of Brand: V-ZUG -->
<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <div class="image-with-text">
            <div class="image-with-text__image-container" style="width: 50%;">
                <div class="aspect-ratio" style="padding-bottom: 66.66666666666667%"><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_300x.jpg?v=1637048219 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_400x.jpg?v=1637048219 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_500x.jpg?v=1637048219 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_600x.jpg?v=1637048219 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_700x.jpg?v=1637048219 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_1200x.jpg?v=1636113456 1200w" data-widths="[300,400,500,600,700,800,900,1000,1100,1200]" sizes="700px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_300x.jpg?v=1636113456 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_400x.jpg?v=1636113456 400w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_500x.jpg?v=1636113456 500w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_600x.jpg?v=1636113456 600w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_700x.jpg?v=1636113456 700w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_800x.jpg?v=1636113456 800w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_900x.jpg?v=1636113456 900w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_1000x.jpg?v=1636113456 1000w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_1100x.jpg?v=1636113456 1100w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_1200x.jpg?v=1636113456 1200w">

                    <noscript>
                        <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug_appliances_800x.jpg?v=1636113456">
                    </noscript>
                </div>
            </div>
            <div class="image-with-text__text-container">
                <div class="image-with-text__text-aligner">
                    <div class="heading"><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/v-zug-logo.png?v=1637051520">
                    </div>
                    <div class="rte">
                        <p>For more than 100 years, we at V-ZUG have made it our mission to make everyday life easier
                                                                                    through our high-quality, innovative household appliances. Whether they are cooking, washing
                                                                                    dishes or doing laundry, people who expect their appliances to deliver more than just the
                                                                                    basics need look no further than V-ZUG.</p>
                        <a class="button button--primary" href="/collections/V-ZUG">See
                                                                                    All V-ZUG Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Brand: V-ZUG -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}