<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Bosch</h1>
    </div>
</section>

<!-- Start of Brand: Bosch -->
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Bosch Appliances Up To 30-40% Off Directly From Europe!</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <P>At EuroHomeDirect®, we see home renovation as arts, passion, and mission. Only the finest brands are selected by our team of experts to be listed on our website. Start building your dream home today to showcase your exquisite taste! We are more than happy to assist.</P>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-landing-page_700x_120e617b-c5ac-40ed-936d-4f29dd4d2962.jpg?v=1639112847"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Bosch -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-ovens-microwaves_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-ovens-microwaves_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-ovens-microwaves_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-ovens-microwaves_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-ovens-microwaves_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Oven & Microwave</h3>
                    <p>Bosch built-in oven saves you straining your back when you’re putting the roast in the oven or want to see whether your cake is ready yet. With it, you can always keep an eye on your culinary masterpieces. Choose from an incredibly wide range of models of all different sizes and use the space in your kitchen just as you want.</p>
                    <a class="button button--primary" href="/collections/ovens/brand_bosch">See All Ovens & Microwaves</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-hobs_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-hobs_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-hobs_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-hobs_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-hobs_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Hobs</h3>
                    <p>Bosch induction hobs can’t perform miracles but they do perform faster than conventional hobs. A Bosch induction hob can bring 2 litres of water to the boil twice as quickly as a ceramic hob. So you can serve dinner faster using less energy. Leaving you more time to enjoy yourself.</p>
                    <a class="button button--primary" href="/collections/hobs/brand_bosch">See All Hobs</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-range-hoods_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Range Hood</h3>
                    <p>Bosch cooker hood offers a whole new level of freedom and flexibility in designing your new kitchen. Regardless of whether your kitchen is large, small, open-plan or closed-plan; whether your hob is placed underneath a cabinet, a slanted ceiling or a window: Bosch will always provide you with your favourite combination of hob and ventilation module.</p>
                    <a class="button button--primary" href="/collections/range-hoods/brand_bosch">See All Range Hoods</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-coffee-machines_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-coffee-machines_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-coffee-machines_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-coffee-machines_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-coffee-machines_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Coffee Machines</h3>
                    <p>Bosch built-in filter coffee machines and fully automatic coffee machines offer coffee perfectionists maximum flavor & convenience, providing guaranteed coffee indulgence. Thanks to their innovative technology, coffee, espresso, latte macchiato & more are always perfectly crafted, just as if they were made by a professional barista.</p>
                    <a class="button button--primary" href="/collections/coffee-machines/brand_bosch">See All Coffee Machines</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-refrigerators_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-refrigerators_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-refrigerators_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-refrigerators_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-refrigerators_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Fridge & Freezer</h3>
                    <p>Bosch fridge-freezers not only make everyday life tastier, they also make it easier: Clear shelving, spacious boxes, ingenious dividers and perfect lightings mean that your everyday grocery browsing will be easier. The innovative stay-fresh systems in our Bosch fridge-freezers provide the best cooling technology for every type of food.</p>
                    <a class="button button--primary" href="/collections/refrigerators/brand_bosch">See All Fridges & Freezers</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-wine-coolers_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-wine-coolers_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-wine-coolers_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-wine-coolers_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-wine-coolers_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Wine Coolers</h3>
                    <p>Bosch’s wine fridge offers 2 adjustable temperature zones for a maximum space for your wine at the perfect temperature. With Bosch’s high-quality ColorGlass, your kitchen will look beautifully uniform and elegant.</p>
                    <a class="button button--primary" href="/collections/wine-coolers/brand_bosch">See All Wine Coolers</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-dishwashers_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-dishwashers_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-dishwashers_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-dishwashers_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-dishwashers_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Dishwasher</h3>
                    <p>Bosch dishwashers are designed to maximize space and flexibility, giving you the space you need to organize your dishes and clean them more efficiently. We test every dishwasher rigorously. Every sheet of metal, every hinge, every screw and bolt is used, stressed, flooded, and heated before our dishwashers go into production to ensure Bosch’s dishwasher durable.</p>
                    <a class="button button--primary" href="/collections/refrigerators/brand_bosch">See All Dishwasher</a>
                </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up">
                    <div>
                        <img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-washing-machines_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-washing-machines_400x.jpg?v=1636113587 400w" data-widths="[300,400]" sizes="400px" srcset="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-washing-machines_300x.jpg?v=1636113587 300w, //cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-washing-machines_400x.jpg?v=1636113587 400w">
                        <noscript>
                            <img alt="" src="//cdn.shopify.com/s/files/1/0609/0666/8262/files/bosch-washing-machines_800x.jpg?v=1636113587">
                        </noscript>
                    </div>
                    <h3 class="collection__title text--strong">Bosch Washing and Drying</h3>
                    <p>Before a washing machine leaves our factory, we test every tiny detail and subject it to endless stress tests to make sure our washing machines meet our standards. Bosch washing machines make life easier for you. Thanks to the automatic programmes, they’re not only clear and simple to operate, they also provide the best results with the lowest levels of consumption.</p>
                    <a class="button button--primary" href="/collections/refrigerators/brand_bosch">See All Washing Machines</a>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}