<section class="section custom-collection-page" data-section-type="collection">
    <div class="container">
        <h1 class="collection__title heading h1">Smeg</h1>
    </div>
</section>

<!-- Start of Brand: Liebherr -->
{% if request.locale.iso_code == 'en' %}
<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">Imported Smeg Appliances</h3>
                        <div class="rte">
                            <h2>BEST PRICE IN HONG KONG, SINGAPORE & ASIA</h2>
                            <p>Imported SMEG Appliances Up To 30-40% Off Directly From Europe!</p>
                            <p>At EuroHomeDirect®, we see home renovation as arts, passion, and mission. Smeg home appliances communicates with its surroundings and enables users to interact with it. Start building your dream home today to showcase your exquisite taste! We are more than happy to assist.</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg-oven.jpg?v=1670922093"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Liebherr -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Ovens</h3>
                  <p>Designed and produced in Italy, Smeg ovens are excellent cooking appliances with exclusive design that always offer peak performance.
Smeg built-in compact ovens offers you maximum flexibility with different cooking levels, allowing you to cook different dishes at the same time. Plus they have easy-to-clean enamel interior, eco-friendly vapor cleaning function and closed door grilling, aiming to redefine your cooking experience to a whole new level.
</p>
                  <a class="button button--primary" href="/collections/ovens/smeg">See All Smeg Ovens</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Built-In Combi Microwave Oven</h3>
                  <p>Smeg microwave ovens are available in a number of different designs to maintain the aesthetic principles of the product range.
Microwave cooking dramatically reduces cooking times and can offer notable energy savings. Results show that Smeg new generation ovens saving up to 70% time compared to traditional cooking only.
</p>
                  <a class="button button--primary" href="/collections/combi_microwave_oven/smeg">See all SMEG Microwave Ovens</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Induction Hob</h3>
                  <p>Smeg hobs combine quality materials with cutting-edge technology. It offers powerful and multizone operation. It can be used as two independent cooking zones or combined into a single zone. Each zone automatically adapts to the size and position of the dishes and is heated only where the pans locate, providing better heat distribution. They are a great way to shortening cooking times, accurately controlling temperatures and cutting down energy consumption.</p>
                  <a class="button button--primary" href="/collections/hobs/smeg">See all SMEG Induction Hob</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Cookers</h3>
                  <p>Your passion for cooking deserves an outstanding cooker, with a harmonious blend of practicality and style. Smeg offers cookers with induction hob tops allowing precise temperature control, user-friendliness and minimal consumption.</p>
                  <a class="button button--primary" href="/collections/cookers/smeg">See all SMEG Cookers</a>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Wall-Mounted Hood </h3>
                  <p>Remove bad odours and steam from your kitchen with Smeg reliable cooker hood. A wide range of models are available, which vary according to aesthetics, extraction method and motor capacity/power output to suit all kitchen types.</p>
                  <a class="button button--primary" href="/collections/range-hoods/smeg">See all SMEG Hood</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Fridge</h3>
                  <p>Smeg has developed different fridge models in order to keep your food and drink perfectly fresh. Smeg's Active Ion system neutralises bacteria and other impurities responsible for unpleasant food odour keeping your fridge in top condition.

While LifePlus 0°C drawer with a controlled temperature zone (-2°C +3°C) is designed for a better and longer preservation of fish, cheese and meat, you can organize fresh goods across the glass shelves, allowing you to always have ingredients to hand in the finest style.
</p>
                  <a class="button button--primary" href="/collections/refrigerators/smeg">See all SMEG Fridge</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">Dishwashers</h3>
                  <p>Smeg free-standing or built-in dishwashers are the perfect way to complete your kitchen in style. Our device, which consists of a circular support and a double high-speed simultaneous-movement spray arm, means that the water reaches every point of the chamber, ensuring excellent washing results and low water consumption.
It is also equipped with an automatic self clean program which is designed for cleaning and maintenance of the machine.
</p>
                  <a class="button button--primary" href="/collections/dishwashers/smeg">See all SMEG Dishwasher</a>
                    </div>

                

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="vzugbutton container">
          <a class="button button--primary" href="/pages/contact">Contact us to enquire</a>
      </div>
  </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}

{% else %}

<div class="shopify-section">
    <section class="section" data-section-type="image-with-text">
        <div class="container">
            <div class="image-with-text">
                <div class="image-with-text__text-container">
                    <div class="image-with-text__text-aligner">
                        <h3 class="heading h3">歐洲直送SMEG家電</h3>
                        <div class="rte">
                            <h2>香港、新加坡及亞洲區最抵價</h2>
                            <p>直接從歐洲購買，節省高達30-40%！</p>
                            <p>我們銷售全新的SMEG電器，直接從歐洲空運到港，價格更低，款式更新。</p>
                        </div>
                    </div>
                </div>
                <div class="image-with-text__image-container" style="width: 50%;">
                    <div><img src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg-oven.jpg?v=1670922093"></div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- End of Brand: Liebherr -->
<!-- Start of Brand Collections -->

<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_2.jpg?v=1670939665"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">焗爐</h3>
                  <p>焗爐 
意大利設計及生產，SMEG 焗爐以其獨特的設計和卓越的性能，為您帶來非凡的烹飪體驗。SMEG 嵌入式小型焗爐提供多種不同的烹飪層次，讓您同時烹製不同的菜餚，盡享靈活的烹飪樂趣。加上易於清潔的搪瓷內膽、環保蒸汽清潔功能和關閉式門烤功能，將您的烹飪體驗提升至全新境界。
</p>
                  <a class="button button--primary" href="/zh/collections/ovens/smeg">查看所有焗爐</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/combi_oven_smeg.webp?v=1670922024"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">嵌入式微波爐</h3>
                  <p>SMEG 微波爐以多種不同設計，完美融入產品系列的美學理念。微波烹飪顯著縮短烹飪時間，節省能源。數據顯示，與傳統烹飪相比，SMEG 新一代焗爐可節省高達 70% 的時間。</p>
                  <a class="button button--primary" href="/zh/collections/combi_microwave_oven/smeg">查看所有嵌入式微波爐</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/Induction_Hob.jpg?v=1670922211"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">電磁爐</h3>
                  <p>SMEG 電磁爐將優質材料與尖端科技完美融合。它提供強大的多區域操作，可作為兩個獨立的烹飪區域，或組合成一個單一區域。每個區域會自動適應鍋具的大小和位置，僅在鍋具所在位置加熱，提供更佳的熱量分佈。電磁爐有助於縮短烹飪時間、精準控制溫度，並降低能源消耗。</p>
                  <a class="button button--primary" href="/zh/collections/hobs/smeg">查看所有電磁爐</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/smeg_cooker.jpg?v=1670922308"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">煮食檯</h3>
                  <p>您對烹飪的熱情，值得擁有一款兼具實用性和風格的傑出煮食檯。SMEG 提供配備電磁爐面板的煮食檯，讓您享受精準的溫度控制、易於使用和低能耗。</p>
                  <a class="button button--primary" href="/zh/collections/cookers/smeg">查看所有煮食檯</a>
                    </div>

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="container">
            <div class="product-list collection">
                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/536.84.529P2.jpg?v=1670922391"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">牆壁式抽油煙機</h3>
                  <p>SMEG 可靠的抽油煙機，為您的廚房去除異味和蒸汽。我們提供多款不同型号的抽油煙機，其美觀、抽風方式和馬達容量/功率輸出各不相同，以滿足所有廚房的需要。</p>
                  <a class="button button--primary" href="/zh/collections/range-hoods/smeg">查看所有牆壁式抽油煙機</a>
                                      </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge.jpg?v=1670922466"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">雪櫃</h3>
                  <p>SMEG 研發了多款不同的雪櫃型號，讓您的食物和飲料保持完美的新鮮狀態。SMEG Active Ion 系統能中和細菌和其他造成食物異味的雜質，讓您的雪櫃保持最佳狀態。LifePlus 0°C 抽屜設有受控溫度區 (-2°C +3°C)，專為更好地長時間保存魚類、奶酪和肉類而設計。您可以將新鮮食材整齊地排列在玻璃層架上，讓您在最優雅的風格中，隨時擁有新鮮食材。</p>
                  <a class="button button--primary" href="/zh/collections/refrigerators/smeg">查看所有雪櫃</a>
                    </div>

                <div class="product-item 1/3--tablet 1/4--lap-and-up vzugbutton">
                    <div><img alt="" class="image--fade-in lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543" data-widths="[300,400]" sizes="400px" srcset="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543"><noscript><img alt="" src="https://cdn.shopify.com/s/files/1/0609/0666/8262/files/brx_postcardDeskLarge_1.jpg?v=1670922543"></noscript>
                    </div>
                    <h3 class="collection__title text--strong">洗碗碟機</h3>
                  <p>SMEG 獨立式或嵌入式洗碗碟機，是打造時尚廚房的完美選擇。該設備配備圓形支架和雙高速同時移動噴臂，使水流到達機艙的每個角落，確保出色的洗滌效果和低水耗。它還配備自動自清潔程序，專為清潔和保養機器而設計。</p>
                  <a class="button button--primary" href="/zh/collections/dishwashers/smeg">查看所有洗碗碟機</a>
                    </div>

                

            </div>
        </div>
    </section>
</div>
<div class="shopify-section">
    <section class="section">
        <div class="vzugbutton container">
          <a class="button button--primary" href="/pages/contact">Contact us to enquire</a>
      </div>
  </section>
</div>

<!-- End of Brand Collections -->

{% section 'static-promotion-list' %}

{% section 'static-recently-viewed-products' %}

{% endif %}